header {
    background: url(../assets/home-header.jpg) center / cover;
    padding: 50px 0;
    height: 70vh;
}

h1 {
    font-size: $main-heading;
    color: $dandelion;
}

// Main Nav Styles

header nav ul {
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: $nav-text;
    border-bottom: 3px solid transparent;
    transition: all .3s ease-in-out;
}

header nav a:hover,
header nav a:focus,
header nav a:active {
    border-bottom: 4px solid $dandelion;
}

.topnav ul {
    display: flex;
}

.topnav li:not(:last-child) {
    margin-right: 25px;
}

.topnav a {
    padding: 5px 0;
}

// Hamburger Icon Styles

.hamburger {
    display: none;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.topbar,
.middlebar,
.bottombar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 8px 0;
    transition: 0.5s;
}

.changeham .topbar {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.changeham .middlebar {
    opacity: 0;
}

.changeham .bottombar {
    transform: rotate(45deg) translate(-9px, -8px);
}

// Dropdown Nav Styles

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.showdropdown {
    transform: translateY(0);
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown li {
    margin: 50px 0;
}

.dropdown a {
    padding: 25px;
}

// Header Content Styles

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60vh;
}

.header-text {
    width: 40%;
}

.header-image {
    margin-bottom: -17vh;
    margin-right: -11vw;
    width: 46vw;
}

// Media Queries
@media (max-width: 1300px) {
    h1 {
        font-size: 7.2rem;
    }
}

@media (max-width: 1200px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-text {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
    }
    .header-image {
        margin-right: 50px;
        width: 80%;
    }
}

@media (max-width: 700px) {
    .hamburger {
        display: inline-block;
    }
    .topnav {
        display: none;
    }
    h1 {
        font-size: 6rem;
    }
    header {
        height: 60vh;
    }
    .header-container {
        height: 40vh;
    }
    .header-image {
        width: 100%;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
    .header-image {
        display: none;
    }
}