header {
    background: url(../assets/home-header.jpg) center / cover;
    padding: 50px 0;
    height: 70vh;
}

header ul {
    display: flex;
    list-style: none;
}

header li:not(:last-child) {
    margin-right: 40px;
}

h1 {
    font-size: $main-heading;
    color: $dandelion;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60vh;
}

.header-text {
    width: 40%;
}

.header-image {
    margin-bottom: -17vh;
    margin-right: -11vw;
    width: 46vw;
}

header nav a {
    text-decoration: none;
    color: white;
    font-size: $nav-text;
    border-bottom: 3px solid transparent;
    padding: 10px 0;
    transition: all .2s ease;
}

header nav a:hover,
header nav a:focus,
header nav a:active {
    border-bottom: 4px solid $dandelion;
}

// Media Queries
@media (max-width: 1300px) {
    h1 {
        font-size: 7.2rem;
    }
}

@media (max-width: 1200px) {
    .header-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header-text {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
    }
    .header-image {
        margin-right: 50px;
        width: 80%;
    }
}

@media (max-width: 700px) {
    h1 {
        font-size: 6rem;
    }
    header {
        height: 60vh;
    }
    .header-container {
        height: 40vh;
    }
    .header-image {
        width: 100%;
    }
}

@media (max-width: 550px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 3rem;
    }
    .header-image {
        display: none;
    }
}