// Colours
$ice-blue: #EAFEFC;
$dandelion: #FDD908;
$twilight-blue: #0d457f;

// Font sizes
$main-heading: 7.9rem;
$secondary-heading: 4.5rem;
$box-heading: 4rem;
$side-heading: 2.5rem; 
$body-text: 2rem;
$button-text: 2.24rem;
$nav-text: 2rem;